@model Schedules_classes.School

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stage_id" class="control-label"></label>
                <select asp-for="Stage_id" class="form-control" asp-items="ViewBag.Stage_id" id="Stage_select">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label name="Stage_name" class="control-label">Stage_name</label>
                <input name="Stage_name" class="form-control stage_info" />
                @*<span asp-validation-for="Channel_name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Client_id" class="control-label"></label>
                <select asp-for="Client_id" class="form-control" asp-items="ViewBag.Client_id" id="Client_select">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label name="Client_name" class="control-label">Client_name</label>
                <input name="Client_name" class="form-control client_info" />
                @*<span asp-validation-for="Channel_name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label name="Channel_id" class="control-label">Channel_id</label>
                <select name="Channel_id" class="form-control" asp-items="ViewBag.Channel_id" id="Channel_select">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label name="Channel_name" class="control-label">Channel_name</label>
                <input name="Channel_name" class="form-control channel_info" />
                @*<span asp-validation-for="Channel_name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="Is_joined" class="" value="true" />
                <label asp-for="Is_joined" class="control-label"></label>
                <span asp-validation-for="Is_joined" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Added_by" class="control-label"></label>
            <select asp-for="Added_by" class ="form-control" asp-items="ViewBag.Added_by"></select>
        </div>
        <div class="form-group">
            <label asp-for="Added_date" class="control-label"></label>
            <input asp-for="Added_date" class="form-control" />
            <span asp-validation-for="Added_date" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    $("#Stage_select").change(StageSelectChange);

    function StageSelectChange(e) {
        let value = e.target.value;
        if (value == '') {
            $(".stage_info").removeAttr('disabled');
        } else {
            $(".stage_info").attr('disabled', 'disabled');
        }
    }

    $("#Client_select").change(ClientSelectChange);

    function ClientSelectChange(e) {
        let value = e.target.value;
        if (value == '') {
            $(".client_info").removeAttr('disabled');
            $("#Channel_select").removeAttr('disabled');
            if ($("#Channel_select").val() == '') {
                $(".channel_info").removeAttr('disabled');
            }
        } else {
            $(".client_info").attr('disabled', 'disabled');
            $("#Channel_select").attr('disabled', 'disabled');
            $(".channel_info").attr('disabled', 'disabled');
        }
    }

    $("#Channel_select").change(ChannelSelectChange);

    function ChannelSelectChange(e) {
        let value = e.target.value;
        if (value == '') {
            $(".channel_info").removeAttr('disabled');
        } else {
            $(".channel_info").attr('disabled', 'disabled');
        }
    }
</script>
}
