@model Logic.ViewModel.SchoolView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="School_id" />
            <div class="form-group">
                <label asp-for="School_name" class="control-label"></label>
                <input asp-for="School_name" class="form-control" />
                <span asp-validation-for="School_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stage_id" class="control-label"></label>
                <select asp-for="Stage_id" class="form-control" asp-items="ViewBag.Stage_id"></select>
                <span asp-validation-for="Stage_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client_id" class="control-label"></label>
                <select asp-for="Client_id" class="form-control" asp-items="ViewBag.Client_id"></select>
                <span asp-validation-for="Client_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Is_joined" class="" value="true" />
                <label asp-for="Is_joined" class="control-label"></label>
                <span asp-validation-for="Is_joined" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Added_by" class="control-label"></label>
                    <select asp-for="Added_by" class="form-control" asp-items="ViewBag.Added_by"></select>
                    <span asp-validation-for="Added_by" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Added_date" class="control-label"></label>
                    <input asp-for="Added_date" class="form-control" />
                    <span asp-validation-for="Added_date" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
