@model Schedules_classes.Semester

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Semester</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<input type="checkbox" asp-for="Is_active" value="true" />*@
                <input asp-for="Is_active" class="" value="true" />
                <label asp-for="Is_active" class="control-label"></label>
                <span asp-validation-for="Is_active" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Added_by" class="control-label"></label>
            <select asp-for="Added_by" class ="form-control" asp-items="ViewBag.Added_by"></select>
        </div>
        <div class="form-group">
            <label asp-for="Added_date" class="control-label"></label>
            <input asp-for="Added_date" class="form-control" />
            <span asp-validation-for="Added_date" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
