<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  
  -->

	<connectionStrings>
		<add
		  name="DB"
		  providerName="System.Data.SqlClient"
		  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Schedules-BAB2ECF8-92E1-4A9E-A9BF-84C77304E6A5;Integrated Security=True;Connection Timeout=60" />
	</connectionStrings>

</configuration>