@model Schedules_classes.Channel

@{
    ViewData["Title"] = "حذف قناة";
}

<h1>حذف</h1>

<h3>هل أنت متأكد من عملية الحذف؟</h3>
<div>
    <h4>قناة</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Name)*@
            الاسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Added_date)*@
            تاريخ الإضافة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added_date)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Added_by)*@
            أضيف بواسطة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added_by_name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Channel_id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">عودة للقائمة</a>
    </form>
</div>
