@model Schedules_classes.Channel

@{
    ViewData["Title"] = "تفاصيل قناة";
}

<h1>تفاصيل</h1>

<div>
    <h4>قناة</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Name)*@
            الاسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Added_date)*@
            تاريخ الإضافة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added_date)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Added_by)*@
            أضيف بواسطة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added_by_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Channel_id">تحرير</a> |
    <a asp-action="Index">عودة للقائمة</a>
</div>
